h1 {
      color: #0C26F6;
      text-align: center;
      }
      
.gioi_thieu {
        color: #0067FF;
        text-align: center;
      }

html {
  background : url("https://c4.wallpaperflare.com/wallpaper/280/874/345/anime-girls-gawr-gura-hololive-virtual-youtuber-paws-hd-wallpaper-preview.jpg");
  background-repeat: no-repeat;
}

